@use "./tokens" as *;
@use "./types" as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $c-bg-primary;
  color: $c-fg-primary;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 90px 1fr 110px;
  max-width: 1440px;
  margin: 0 auto;
}
.main {
  padding: 0 22;
  width: 100%;
}

// Titre
h2 {
  @include h2;
}
h3 {
  @include h3;
}

// Liste
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

// Selection avec la sourie
::selection {
  background: #000;
  color: $c-fg-primary-hover;
}
