@use "../../../styles/tokens" as *;
@use "../../../styles/types" as *;

//
// Container
//
.container_blure {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background: #d6d6d609;
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.visible {
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  transition: ease-in 300ms;
}

//
// About
//
.container_about {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: start;
  z-index: 101;
  background: $c-bg-primary;
  gap: 100px;
  width: 70%;
  height: 100%;
  margin-left: auto;
  padding: 16px 68px;
  & button {
    text-align: start;
    padding: 1rem 0 0 0;
    cursor: pointer;
    border: none;
    width: 6%;
    background: none;
    color: $c-fg-primary;
    @include navMaj;
  }
  & button:hover {
    transition: ease-in 0.2s;
    color: $c-fg-primary-hover;
  }
}

//
// Heros
//
.heros_about {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
  color: white;
  & h1 {
    @include h3;
    width: 45%;
    color: $c-fg-primary;
  }
  & article {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 100%;
    gap: 10px;
    padding: 10px 0px;
  }
  & .bio_title {
    @include bodyS;
    color: $c-fg-secondary;
  }
  & .bio_description {
    @include bodyL;
    width: 100%;
  }
}
//
// Logo
//
.logo_about {
  width: 100%;
}

.logo_track {
  display: flex;
  gap: 40px;
  width: max-content;
}
