@use "../../../styles/tokens" as *;
@use "../../../styles/types" as *;

.reseau_about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 20rem;
}

.reseau_about > li {
  @include navMaj;
}
