@use "../../styles/tokens" as *;
@use "../../styles/types" as *;

.experience_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  width: 100%;
  & div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    & li > p:first-child {
      @include bodyM;
      text-transform: uppercase;
    }
    & li > p:nth-child(2) {
      @include bodyM;
      color: $c-fg-secondary;
    }
    & li > p:last-child {
      padding: 4px 0 0 0;
      @include bodyS;
      color: $grey-30;
    }
  }
}

.label_experience {
  @include bodyS;
}
